{% extends 'base.html' %}

{% block body %}
<div class="ui three top attached steps">
  <div class="active    step">
    <i class="money icon"></i>
    <div class="content">
      <div class="title">Price</div>
      <div class="description">Tell Us Your Budget</div>
    </div>
  </div>
  <div class="disabled step">
    <i class="smile icon"></i>
    <div class="content">
      <div class="title">Prime Feature</div>
      <div class="description">Tell Us Want Do you Prefer the Most</div>
    </div>
  </div>
  <div class="disabled step">
    <i class="taxi icon"></i>
    <div class="content">
      <div class="title">Our Recomendation</div>
      <div class="description">We Feel This Cars Suits You the Best</div>
    </div>
  </div>
</div>
<div class="ui center aligned attached segment">
  <h1 style="font-family:Open Sans Condensed", sans-serif;">Please Tell Us Your Budget </h1>
</div>

{% endblock %}