<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Compare Cars</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <script src="{{ url_for('static',filename='js/jquery-3.1.0.min.js') }}" crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
</head>

<body  class="">
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo">GaadiNation</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#">Recomend</a></li>
                    <li><a href="#">Compare</a></li>
                    <li><a href="#">Search</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container ">
        <div class="row section">
         <h5 class="header">Car 1</h5>
         <div class="card horizontal col s6">
                <div class="input-field">
                    <select>
                        <option value="" disabled selected>Choose Brand</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                    
                </div>
                <div class="input-field col s6">
                    <select>
                        <option value="" disabled selected>Choose Car</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                    
                </div>
            </div>
        </div>
        
        <div class="row section">
        <h5 class="header">Car 2</h5>
            <div class="card horizontal col s6">
                <div class="input-field ">
                    <select>
                        <option value="" disabled selected>Choose Brand</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                    
                </div>
                <div class="input-field col s6">
                    <select>
                        <option value="" disabled selected>Choose Car</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                   
                </div>
            </div>
        </div>
        <div class="row section">
        <h5 class="header">Car 2</h5>
            <div class="card horizontal col s6">
                <div class="input-field ">
                    <select>
                        <option value="" disabled selected>Choose Brand</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                    
                </div>
                <div class="input-field col s6">
                    <select>
                        <option value="" disabled selected>Choose Car</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                   
                </div>
            </div>
        </div>
    </div>
</body>
<script>
$(document).ready(function() {
    $('select').material_select();
});
</script>

</html>
