{% extends "base.html" %}
{% block body %}
<form method="post" action="" class="ui form">
    {{ form.hidden_tag() }}
    
    <div class="field">
        {{ form.name(size=20,class='') }}
    </div>
    <input type="submit" value="Go">
    {% if result is not none %}
        <h4 class="ui horizontal divider header">Results</h4>
        <div class="ui segments">
        <tbody>
            {% for item in result %}
                {# {% for key in item.keys() %} #}
                <div class="ui green segment"> <p>{{ item['carname']}} </p> </div>
                {# {% endfor %} #}
            {%else%}
                <p>No Results Found</p>
            {% endfor %}
        </div>
    {% endif %}
</form>
{% endblock %}