<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Find Your Car</title>
    {% endif %}

    <link rel="stylesheet" href="{{ url_for('static',filename='css/semantic.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/base.css')}}">
    <script src="{{ url_for('static',filename='js/jquery-3.1.0.min.js')}}"></script>
    <script src="{{ url_for('static',filename='js/semantic.min.js')}}"></script>
   {% block head %}
   {%endblock%}
</head>
<body>
<div container>
      <div class="ui stackable menu">
          <div class="item">
            <i class="car icon"></i>
          </div>
          <a class="item">Recommend Me a Car</a>
          <a class="item">Compare Cars</a>
          <a class="item">Show all Cars</a>
          <div class="right menu">
            <div class="item">
              <div class="ui transparent icon input">
                  <form action="{{url_for('views.search_form')}}" method="post">
                    <input name="search_query" placeholder="type a car name" type="text">
                    <i class="search link icon"></i>
                  </form>
              </div>
            </div>
          </div>
</div>
        </div>

    {% block body %}

    {% endblock %}
</div>

</body>
</html>