{% extends "base.html" %}
{%block head %}
    <script src="{{ url_for('static',filename='js/jquery.easy-autocomplete.min.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/easy-autocomplete.min.css')}}"> 
{%endblock %}
{%block body %}
<div class="ui two column centered grid">
<div class="column">
    <form class="ui form" action="{{ url_for('views.search_form')}}" method="post">
        <div class="fields">
        <div class='field'>
            <input id="search_box_center_input"  name="search_query" type="text" placeholder="Type a car name">
        </div>  
        <div class="field">
            <button class="ui labeled icon button" tabindex="0">
              <i class="search icon"></i>
              search
            </button> 
        </div>
        </div>

    </form>
</div>
</div>
<script src="{{ url_for('static',filename='js/main_page_search_box_ajax.js')}}"></script>


{% endblock %}